<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @game.picture %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @game.publication %>
</p>

<%= form_with(model: @game, local: true) do |form| %>
<%= form.select(:category_id, @category.collect { |category| [category.name, category.id] }) %>
<%= form.submit %>
<%end%>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
