<h1>Novo jogo</h1>

<p>
  <%= @greeting %><%= @users.name %>, o jogo <%= @game.name %> esta disponivel. <br>
  Descricao: <%= @game.description%>
  Data de publicacao: <%= @game.publication%>
   <!-- <br>find me in app/views/game_mailer/new_game.html.erb -->
</p>
